.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
  max-width: 120rem;
}

.container1 {
  background-color: #5b529b;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.1vmin);
  color: white;
}
.text {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #337ab7;
  border-color: #337ab7;
  width: 70%;
  height: 60px;
  padding-top: 10px;
}

.basic {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #90bfe9;
  border-color: #337ab7;
  width: 65%;
  height: 30px;
  padding-top: 10px;
}

.pad {
  padding-left: 20rem;
  border: #337ab7;
}

.basic-pad {
  padding-left: 1rem;
}

.lebel-text {
  text-align: left;
  padding-right: 5rem;
  font-size: 20px;
}

.basic-lebel-text {
  padding-top: 10px;
}

.address-lebel-text {
  text-align: left;
  padding-right: 30rem;
  font-size: 20px;
  padding-left: 50px;
}

.address-div {
  text-align: left;
  padding-right: 1rem;
  font-size: 20px;
}

.error {
  color: red;
}

.border {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: red;
}

.div-padidng {
  padding-top: 30px;
}

.transform-text {
  text-transform: uppercase;
}

.br0 {
  border-radius: 0px;
}

.input-group-addon {
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}

.education-level {
  text-align: left;
  padding-right: 0.5rem;
  font-size: 20px;
}
